<%= render partial: "header" %>

<div class='search-result'>
  <div class='result-heading'>検 索 結 果</div>

  <div class='category-name-box'>
    <% @result.each do |r| %>
    <%= link_to "#", method: :get, class: "show-link" do %>
    <div class='category-name'>
      <%= r.category_name %>
    </div>
    <% end %>
    <% end %>
  </div>

</div>

<%= render partial: "footer" %>