.another-header {
  background-color: #ffedab50;
  height: 10px;
  width: 100vw;
}
.header-line{
  background-color: #043c78; //インディゴ
  height: 80px;
  width: 100vw;
  border-top: 5px solid #192f60; //アイアンブルー
  border-bottom: 5px solid #192f60;
  display: flex;
  justify-content: center;
}
.top-page-header {
  height: 100%;
  width: 930px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .app-name {
    font-size: 48px;
    font-family: Impact;
    color: #ffdc00; //ジョンブリアン
  }

  .header-right {
    display: flex;
    padding-top: 5px;

    .choose-cooking {
      background-color: #ffdc00;
      font-family: 'Osaka';
      font-size: 20px;
      border: 1px solid #001e43;
      border-radius: 15px;
      padding: 0 12px;
      color: #043c78;
    }

    .authentication {
      font-size: 16px;
      font-family: 'ヒラギノ角ゴシック';
      font-weight: 650;

      .sign-up {
        background-color: #ffdc00;
        border: 1px solid #001e43;
        border-radius: 15px;
        padding: 4px 10px;
        color: #043c78;
      }

      .rog-in {
        margin-right: 10px;
        background-color: #ffdc00;
        border: 1px solid #001e43;
        border-radius: 15px;
        padding: 4px 10px;
        color: #043c78;
      }
    }
  }
}