.mypage-content {
  width: 80%;
  padding: 30px;
  margin: auto;
  font-family: '筑紫A丸ゴシック';

  .mypage-heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  .cooking-lists {
    display: flex;
    justify-content: space-around;

    .list-heading {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    li {
      margin-left: 5px;
    }
  }
}